@import "../../node_modules/bootstrap/scss/functions";
@import "./variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


// colors
// 主色-黃色
$primary:     #E9D2A6;
$primaryBgc:  #F8F5EE;
// 論壇-藍色
$forum:       #6E75A8;
$forumBgc:    #DDDFEE;
// 領養-綠色
$adoption:    #B2D2CB;
$adoptionBgc: #EDFDF9;
// 送養-紅色
$give:        #C79CA4;
$giveBgc:     #F7E1E5;
// 突出色
$specialBlue: #6E75A8;
$specialRed:  #A63A50;

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #978989;
}

// 寬高自己寫，可以用以下的尺寸
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    border-radius: 30px;
    background-color: $primary;
    box-shadow: 0 0 3px 2px lightgray;
}

.btn-big{
    width: auto;
    height: 40px;
    font-size: 15pt;
}

.btn-specialBlue{
    background-color: $specialBlue;
    &:hover{
        background-color: $forumBgc;
        transition: 0.3s;
    }
}

.btn-specialRed{
    background-color: $specialRed;
    &:hover{
        background-color: $give;
        transition: 0.3s;
    }
}

// input外觀
input{
    padding: 0px 3px 0px 3px;
    border-radius: 5px;
}

// input填寫時外邊框
input:focus{
    outline: $primary solid 3px;
}

// textarea填寫時外邊框
textarea:focus{
    outline: $primary solid 3px;
}