@import './main.scss';

@mixin mobile{
    @media (max-width: 767px) {
        font-size: 12pt;
        @content;
    }
}

@mixin pad{
    @media (min-width: 768px) and (max-width: 1023px) {
        font-size: 14pt;
        @content;
    }
}


// bgc need to be set
.content{
    width: 100vw;
    height: auto;
    padding-top: 3vmin;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 5vmin;
    display: flex;
    justify-content: space-between;
    .showBoard{
        width: 80vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 15px;
        color: #978989;
        font-size: 14pt;
        box-shadow: 0 0 3px 2px lightgray;
        padding: 20px 30px 20px 30px ;
    }
}

p{
    margin: 0px;
}

// the profile photo circle
.circle{
    width: 40px;
    height: 40px;
    background-color: $secondary;
    border-radius: 50%;
    margin-right: 10px;
}

.clear_fix{
    &::after{
        content: "";
        clear: both;
        display: block;
        height: 0px;
        overflow: hidden;
    }
}

$modal-content-border-color:        null;
$modal-header-border-color:         null;
$modal-footer-border-color:         null;